asgiref
certifi
cffi
charset-normalizer
coreapi
coreschema
cryptography
decouple
defusedxml
Django
django-phonenumber-field
django-templated-mail
djangorestframework
djangorestframework-simplejwt
drf-yasg
idna
inflection
itypes
Jinja2
MarkupSafe
oauthlib
packaging
phonenumbers
pycparser
PyJWT
pyparsing
python3-openid
pytz
requests
requests-oauthlib
ruamel.yaml
ruamel.yaml.clib
six
social-auth-app-django
social-auth-core
sqlparse
uritemplate
urllib3
django-cors-headers
